<!-- build:js js/vendor.js --> 
//bower:js
script(src='bower/modernizr/modernizr.js')
script(src='bower/perfect-scrollbar/js/perfect-scrollbar.jquery.js')
script(src='bower/perfect-scrollbar/js/perfect-scrollbar.js')
script(src='bower/handlebars/handlebars.js')
//endbower
<!-- endbuild -->
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
<!-- build:js js/main.js --> 
//- script(src="js/main.js")
script(src="js/rjs.js" data-main="js/entry.js")
<!-- endbuild -->
